# MY SQL USING PYTHON

#### FOR CONNECTING MYSQL SERVER USING PYTHON.
#### WE NEED TO CONNECT TO THE SERVER FOR THAT WE NEED THE HOST(LOCAL OR WEB),USER,PASSWORD.
#### ALSO WE NEED TO DOWNLOAD MYSQL-PYTHON using pip install "mysql-connector-python"

In [1]:
### create sql connection
import mysql.connector as sql

connection=sql.connect(
    host="localhost",
    user="root",
    password="12345"
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f279420d7c0>

# Creating Databases

In [2]:

cursor=connection.cursor()
cursor.execute('CREATE DATABASE student')

In [3]:
cursor.execute('SHOW DATABASES')

In [4]:
for x in cursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('student',)
('sys',)

# DROP A DATABASE

In [6]:
cursor.execute('DROP DATABASE student')

In [7]:
cursor.execute('SHOW DATABASES')

In [8]:
for x in cursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [9]:
cursor.execute('CREATE DATABASE student')

# CONNECTING TO A SPECIFIC DATABASE USING CONNECTOR

In [11]:
### create sql connection
import mysql.connector as sql

connection=sql.connect(
    host="localhost",
    user="root",
    password="12345",
    database="student"
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f277ea1f100>

In [12]:
cursor=connection.cursor()
cursor.execute('CREATE TABLE studentinfo(id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255),subject VARCHAR(255))')

In [13]:
query='INSERT INTO studentinfo(name,subject) VALUES(%s,%s)'
value=("John","stats")
cursor.execute(query,value)
print("row inserted",cursor.lastrowid)

row inserted 1

# Insert multiple rows

In [16]:
query='INSERT INTO studentinfo(name,subject) VALUES(%s,%s)'
value=[("John","stats"),
      ('krish','stats'),
      ('jay','ML')]
cursor.executemany(query,value)
print("row inserted",cursor.lastrowid)

row inserted 2

# Select All

In [19]:
cursor=connection.cursor()
cursor.execute('SELECT * FROM studentinfo')

# Fetch all record

In [20]:
cursor.fetchall()

[(1, 'John', 'stats'),
 (2, 'John', 'stats'),
 (3, 'krish', 'stats'),
 (4, 'jay', 'ML')]

# select specific rows

In [22]:
cursor.execute('SELECT * FROM studentinfo where name="krish"')

In [23]:
cursor.fetchall()

[(3, 'krish', 'stats')]

# select specific rows

In [25]:
cursor.execute('SELECT DISTINCT subject from studentinfo')

In [26]:
cursor.fetchall()

[('stats',), ('ML',)]